<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
     <title>搜恋网-同城交友_免费征婚_真实相亲_婚恋服务_找对象</title>
     <meta name="renderer" content="webkit">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
     <meta name="keywords" content="征婚|交友|相亲|找对象|婚恋网站|征婚网站|交友网站|相亲网站|婚介网站|找对象的网站|婚恋交友网站| 征婚交友网站|相亲交友网站 | 同城交友网站|搜恋网">
     <meta name="description" content="搜恋网以“共享单身，熟人背书”的新型互联网社交模式，专注为单身男女解决婚恋问题，平台提供个人形象提升、情感咨询、恋爱技能提高、红娘牵线、社交活动策划等服务，是陕西首家大型婚恋网站。搜恋网，搜（嗖）一下，就恋爱！">
     <link rel="shortcut icon" href="../icon/sl1.ico" type="image/x-icon">
     <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=cfbd16bbcf6aa693ee4197420c703ef7&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>
     <link rel="stylesheet" href="../css/common.css">
     <link rel="stylesheet" href="../css/hover.css">
     <link rel="stylesheet" href="../css/login.css">
     <script src="../js/vue.min.js"></script>
     <script src="../js/jquery-3.2.1.min.js"></script>
     <script src="../js/fn.js"></script>
     <script src="../js/api.js"></script>
     <script src="../js/config.js"></script>
</head>

<body>
     <div class="nav">
          <div class="container">
               <div class='nav-bar'>
                    <div class='nav-bar-logo lt'>
                         <div class='logo lt'></div>
                         <img src="http://img.qinyikou.cc/pc/image/logotxt.png" class='lt logo-txt'>
                    </div>
                    <div class='nav-bar-skip lt'>
                         <a href='../index.html' class='lt'>首页</a>
                         <a href='investment.html' class='lt '>招商加盟</a>
                         <a href='informationIndex.html' class='lt '>行业资讯</a>
                         <a href='actionIndex.html' class='lt '>活动中心</a>
                         <a href='download.html' class='lt'>下载APP</a>
                    </div>
                    <div class='nav-bar-login rt'>
                         <p>欢迎你,<span class='userName'></span><b class='out'>退出</b></p>
                    </div>
                    <div class='nav-bar-logins  rt'>
                         <a href='javascript:void(0);' class='login lt'>登陆</a>
                         <a href='register.html' class='register lt'>新用户注册</a>
                    </div>
               </div>
          </div>
     </div>
     <div class='view' id='app'>
          <div class='pop-box'>
               <img src="http://img.qinyikou.cc/pc/image/login.png" class='lt login-img'>
               <div class='content lt'>
                    <div class='login-box'>
                         <div class="login-item">
                              <p class='use-txt user'>用户名&nbsp;Admin</p>
                              <input type="text" placeholder="请输入您的手机号" @blur="checkBlur('phone',phone)" maxlength="11" class='intP'
                                   v-model="phone">
                         </div>
                         <div class="login-item">
                              <p class='use-txt password'>密码&nbsp;Password</p>
                              <input type="password" placeholder="请输入您的密码" @blur="checkBlur('password',password)" minlength="4"
                                   maxlength="16" class='intPsd' v-model="password">
                         </div>
                         <p class='hint' v-if='hint'>{{hintTxt}}</p>
                         <div class='btn' @click='loginSuc()'>登&nbsp;录</div>
                         <div class='reg-txt'>还没有搜恋账户?
                              <a href='register.html'>立即注册</a>
                              <!-- <p class='rt'>忘记密码?</p> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="footer">
          <div class='container'>
               <div class='foot-bar'>
                    <div class='foot-bar-skip lt'>
                         <div>
                              <p>特色服务</p>
                              <a href="../index.html">搜恋</a>
                              <a href="addsearch.html">招商地区查询</a>
                              <a href="actionIndex.html">活动中心</a>
                         </div>
                         <div>
                              <p>关于我们</p>
                              <a href="about.html?num=0">公司介绍</a>
                              <a href="about.html?num=2">服务条款</a>
                              <a href="about.html?num=3">联系我们</a>
                         </div>
                         <div>
                              <p>商业合作</p>
                              <a href="https://www.didiglobal.com/" target="_blank">滴滴打车</a>
                              <a href="http://www.dtxs.cn/" target="_blank">大唐西市</a>
                              <a href="https://www.toutiao.com/" target="_blank">今日头条</a>
                         </div>
                    </div>
                    <div class='foot-bar-code rt'>
                         <div>
                              <img src="http://img.qinyikou.cc/pc/image/iOSapp.png" alt="">
                              <p>IOS客户端二维码</p>
                         </div>
                         <div>
                              <img src="http://img.qinyikou.cc/pc/image/adAPP.png" alt="">
                              <p>安卓客户端二维码</p>
                         </div>
                         <div>
                              <img src="http://img.qinyikou.cc/pc/image/meiCode.png" alt="">
                              <p>微信公众号二维码</p>
                         </div>
                    </div>
               </div>
               <div class='foot-sl-copy'>
                    <p>Copyright 2017, solian.cc 2017-2018 All Right Reserved.搜恋网</p>
                    <p class='foot-sl-copy-ba'><span class="lt">陕ICP备20170808号-1</span><span class="rt">陕ICP证201766号</span></p>
               </div>
          </div>
     </div>
</body>
<script>
     var app = new Vue({
          el: "#app",
          data: {
               isLogin: false, //是否登陆
               login_phone: false, //手机号验证
               login_psd: false,
               phone: undefined,
               password: undefined,
               hint: false,
               hintTxt: "请输入用户名或密码"
          },
          methods: {
             checkBlur(...arg) {
                    if (arg[0] == "phone") {
                         checkPhone(arg[1])
                              ? ((this.hint = false), (this.login_phone = true))
                              : ((this.hint = true),
                                   (this.login_phone = false),
                                   (this.hintTxt = "请输入手机号"));
                    } else if (arg[0] == "password") {
                         checkPsd(arg[1])
                              ? ((this.hint = false), (this.login_psd = true))
                              : ((this.hint = true),
                                   (this.login_psd = false),
                                   (this.hintTxt = "请输入密码"));
                    } 
               },
               loginSuc() {
                    this.login_phone && this.login_psd
                         ? (this.isLogin = true)
                         : ((this.isLogin = false),
                              (this.hint = true),
                              (this.hintTxt = "登陆新不完整"));
                    if (this.isLogin) {
                         this.isLogin = false;
                         var _this=this;
                         let data = {
                              type: 1,
                              drivers: 3,
                              username: this.phone,
                              password: this.password
                         };
                         _ajax.post(api.login,data,function(res){
                              if (res.code == 200) {
                                   setLoc('useInfo',res.data)
                                   setTimeout(() => {
                                       skip('../index.html') 
                                   }, 1000);
                               } else {
                                   _this.isLogin = true;
                                   _this.hint = true;
                                   _this.hintTxt = res.message;
                              }
                         })
                         
                    }
               },
          },
          mounted() {
           
          },
     })  
</script>

</html>