.view{padding-bottom:0;}
.find-container{
     width:6.9rem;height:100%;margin:0 auto;
     overflow:scroll;
     .find-item{
          width:3.45rem;height:4.5rem;margin-top:.3rem;
          div{
               width:100%;height:100%;
               div{
                  width:3.3rem;height:3.3rem;border-radius:4px;  overflow:hidden;
                  img{width:3.3rem;}
               }    
          }
          h1{
              margin:.2rem 0 .1rem;
             em {font-size:.32rem;font-weight:bold;  color:#111;margin-right:.12rem;}
             span{font-size:.24rem;color:#fff;padding-left:.28rem; display:inline-block;border-radius:2px;width:.6rem;height:.26rem;line-height:.26rem;   }
             .sexA{
                 background:#ff87a4 url('../../image/icon/boy.png')no-repeat .05rem;
                 background-size:.17rem;
             }
             .sexB{
                 background:#63a9ff url('../../image/icon/girl.png')no-repeat .05rem;
                 background-size:.17rem;
             }
          }
          h2{color:#666;font-size:.3rem;}
     }
     .find-banner{
         width:6.9rem;
         height:1.2rem;
         margin-top:.4rem;
         overflow: hidden;
         div{
           height:100%;width:100%;
           img{width:100%;}  
         }
     }
}