.header{
     width: 7.5rem; height: 0.9rem;line-height: 0.9rem;background: #fff;position: fixed;
     top: 0;left: 0;font-size: 0.58rem;color: #111;z-index: 100;
     span{padding-left:.3rem;}
     .closed{
          margin-right:.3rem;
          .btnTxt{
               font-size: .26rem;margin-right: .1rem;
          }
          #btns{
               width: .7rem;height: .35rem;border-radius: 48px;margin-top: .3rem;position: relative;
               #btns2{
                   position: absolute;border-radius: 50%;background: #fff;width: .33rem;height: .33rem;
               }
               .closes{
                   left: 0;top: 0;border: 1px solid #ff704f;
               }
               .opens{
                    right: .02rem;top: .01rem;
               }
          }
         .close{
              background: #fff;border: 1px solid #ff704f;border-left: transparent;
         }
         .open{background:#ff704f;}
     }
}
.user-content{
         width: 6.9rem;height: 1.6rem;margin: .5rem auto;
         .userImg{
              width: 1.6rem;height: 1.6rem;border-radius: 50%
         }
         .user-nick{
                  margin-left: .4rem;margin-top: .2rem;color: #111;font-weight: bold;
                  h1{
                       font-size: .46rem;
                  }
                  p{
                         font-size: .3rem;margin-top: .2rem;
                  }
         }
         .site{
             color: #ff704f;font-size: .26rem;background: url('../../image/my/bianji.png')no-repeat left;
             background-size: .34rem;padding-left: .4rem; margin-top: .5rem; 
     }
}
.my-follower{
         width: 6.9rem;height: 1.25rem;display: flex;font-size: .26rem;color: #666;margin: 0 auto;
         div{
              flex:1;text-align: center;color:#111;font-size:.4rem;
              h1{font-weight:bold; }
              p{font-size:.3rem;}
           }
}
.my-state{
     width: 7.5rem;height: 1.8rem;border-top: 1px solid #E7E7E7;display: flex;color: #555;font-size: .24rem;
     a{
          flex:1;text-align:center;
          img{
            width: .56rem;margin: .2rem auto .1rem;
          } 
     }
}